{% extends "base.html" %}

{% block content %}
    <form method="post">
        <div class="row">
            <h2 class="delete-post-title center">Are you sure you want to delete your post?</h2>
        </div>
        <div class="row">
            <p class="error important center">This will permanently delete your post. You will not be able to recover it!</p>
        </div>
        <div class="row">
            <input type="hidden" name="post_id" value="{{post_id}}">
            <input class="button delete-post-button" type="submit" name="yes" value="Yes, delete my post.">
            <input class="button delete-post-button" type="submit" name="no" value="No, do not delete my post.">
        </div>        
    </form>
    <hr>
{% endblock %}